*{
    margin: 0;
    padding: 0;
}
body{
    background: none repeat scroll 0 0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.nav{
    margin: 0 auto;
    width: 990px;
}

.nav ul{
    margin: 50px 0 0 0;
    list-style: none;
    text-align: right;
}

.nav ul li{
    float: none;
    display: inline-block;
}

.nav ul li:nth-child(1){
    float: left;
}

.nav ul li:nth-child(2){
    float: left;
}

.nav ul li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 60px;
}

.nav ul li a:hover{
    color: #6c2e2e;
}

#menu{
    width: 100%;
    position: relative;
    background-color: #fff3d1;
    border-color: #fff3d1 ;
    border-style: solid;
    border-width: 10px 0px;
}

.logo{
    position: absolute;
    left: 50%;
    top: 15px;
    content: "";
    margin-left: -85px;
}

#content1{
    background-color: #fff3d1;
    width: 100%;
    height: 600px;
}

.circle{
    height: 470px;
    width: 470px;
    background-color: #f1d4cd;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    left: 10%;
    top: 10%;
}

@font-face{
    font-family: 'playfair';
    font-style: normal;
    src: url('font/PlayfairDisplay-VariableFont_wght.ttf');
}
.headertext{
    font-family: 'playfair';
    font-size: 40px;
    z-index: 3;
    top: -36%;
    left: 20%;
    width: 500px;
    position: relative;
    text-shadow: -10px 13px#fff3d1; 
}

#content1 img{
    width: 440px;
    height: auto;
    float: right;
    padding: 30px 160px 0 0;
}

#content2{
    background-size: 100% 600px;
    display: block;
    position: relative;
}

#content2 h1{
    font-family: 'playfair';
    font-size: 60px;
    text-shadow: -5px 10px #fff3d1;
    padding: 200px 0 0 100px;
}

#content2 p{
    text-indent: 80px;
    text-align: justify;
    line-height: 40px;
    font-size: 25px;
    padding: 60px ;
}

#content3{
    background-size: 100% 600px;
    height: 580px !important;
    display: block;
    position: relative;
}

#content3 h1{
    font-family: 'playfair';
    font-size: 60px;
    text-align: center;
    padding: 50px 0 0 0;
}

#content3 h2{
    font-size: 60px;
    color: #f1d4cd;
    text-align: center;
}

#content3 ol{
    font-size: 25px;
    color: #fef3d1;
    line-height: 50px;
    padding: 15px 0 0 150px;
}

.freepack{
    float: left;
    width: 50%;
    height: 200px;
}

.paidpack{
    float: right;
    width: 50%;
    height: 200px;
}

.freepack, .paidpack{
    padding: 100px 0 0 0;
}

#content4{
    background-size: 100% 600px;
    height:  600px !important;
    display: block;
    position: relative;
}

.content4-header{
    font-family: 'playfair';
    float: left;
    font-size: 30px;
    width: 30%;
    height: 250px;
    text-shadow: 60px -45px #fef3d1 ;
    padding: 250px 0 0 80px;
}

.content4-list{
    float: right;
    width: 50%;
    font-size: 25px;
    height: 250px;
    padding: 200px 50px 0 0;
}

#footer{
    background-color: #fff3d1;
    height: 250px;
}

#footer > h4{
    margin: 0 auto;
    text-align: center;
    width: 200px;
}

.socmed {
    width: 100%;
    font-size: 30px; 
    text-align: center;
}

.socmed a{
    color: #6c2e2e; 
    text-decoration: none;
    padding: 0 0.5cm 0 0.5cm;
}

.socmed a:hover{
    color: #f1d4cd;;
}

#footer > img{
    position: relative;
    left: 46%;  
}
