

body{
    background: none repeat scroll 0 0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
}

.nav{
    margin: 0 auto;
    width: 80%;
}

.nav ul{
    margin: 45px 0 0 0;
    list-style: none;
    text-align: right;
    padding: 0%;
}

.nav ul li{
    float: none;
    display: inline-block;
}

.nav ul li:nth-child(1){
    float: left;
}

.nav ul li:nth-child(2){
    float: left;
}

.nav ul li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 60px;
}

.nav ul li a:hover{
    color: #6c2e2e;
}

#menu{
    width: 100%;
    position: relative;
    background-color: #fff3d1;
    border-color: #fff3d1 ;
    border-style: solid;
    border-width: 10px 0;
}

.logo{
    position: absolute;
    left: 50%;
    top: 10px;
    content: "";
    margin-left: -85px;
}

#article{
    padding-top: 5vmax;
    background-color: #fff3d1;
}

#article > h1{
    font-size: 4vmax;
    text-align: center;
    color: #6c2e2e ;
}

.content{
    background-color: #f1d4cd;
    width: 70%;
    margin: auto;
    padding: 3vw;
}

.content > p{
    text-indent: 2vmax;
    text-align: justify;
}

.content>img{
    float: right;
    padding-left: 2vw;
}

#footer{
    background-color: #fff3d1;
    height: 250px;
}

#footer > h4{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.socmed {
    width: 100%;
    font-size: 30px; 
    text-align: center;
}

.socmed a{
    color: #6c2e2e; 
    text-decoration: none;
    padding: 0 1vw;
}
.socmed a:hover{
    color: #f1d4cd;;
}

#footer > img{
    position: relative;
    left: 46%;  
}